<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ApValidaLogin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    
  </welcome-file-list>
  <context-param>
 <param-name>datasource</param-name>
 <param-value>java:jboss/datasources/logins</param-value>
 </context-param>
  <servlet>
    <description>Servlet apValidaLogin</description>
    <display-name>ValidaLogin</display-name>
    <servlet-name>ValidaLogin</servlet-name>
    <servlet-class>validalogin.ValidaLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidaLogin</servlet-name>
    <url-pattern>/validalogin</url-pattern>
  </servlet-mapping>
</web-app>